frontend_host = 
frontend_port = 

jwt_secret = 
base_url = 

host = 
port = 

mongoDB_username = 
mongoDB_password = 
mongoDB_cluster = 
mongoDB_database = 

google_client_id = 
google_client_secret = 
google_callback_url = 

# s3 or local
STORAGE_DRIVER = local

STORAGE_PATH = ./uploads

AWS_BUCKET =
AWS_ACCESS_KEY_ID = 
AWS_SECRET_ACCESS_KEY = 
AWS_REGION = 